<ion-view view-title="Message">
  <ion-content overflow-scroll="false" scroll="false">

    <!-- Message content head -->
    <div class="message-content-header">
      <div class="seleg-logo"></div>
      <div class="text-center message-content-title">{{messageCtrl.title| translate}}</div>
      <div class="text-center message-content-message">{{messageCtrl.msg|translate}}</div>
    </div>

    <!-- Message Icon -->
    <div class="place-message-icon">
      <i ng-if="!messageCtrl.errorScreen" class="icon ion-ios-checkmark-outline"></i>
      <i ng-if="messageCtrl.errorScreen" class="icon ion-ios-close-outline"></i>
    </div>

    <!-- Start button -->
    <div class="place-start-button" ng-if="messageCtrl.getCurrentButton()">
      <button class="button button-full seleg-button" ng-click="messageCtrl.getCurrentButton().onClick()">{{messageCtrl.getCurrentButton().text | translate}}</button>
    </div>

  </ion-content>
</ion-view>