/*
    Created on : 18/01/2017
    Author     : fjfernandez
*/

//First Block (Titles)
.message-content-header {
  @extend %content-header;

  .message-content-title {
    @extend %content-title;
  }

  .message-content-message {
    @extend %content-message;
  }
}

//Tick Icon
.place-message-icon {
  width: 100%;
  padding: 0 10%;
  text-align: center;
  line-height: 150px;

  i {
    color: $icon-tick-enable;
    font-size: 150px;
    -webkit-text-stroke: 3.5px #eceff1; //Reduce the icon border, it is not posible to use a scss variable. It produces an error.

    &.error {
      color: red;
    }
  }
}

//Start button
.place-start-button {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;

  button {
    @media (max-width: $small-devices-width) {
      font-size: 14px !important;
    }
  }
}
