node_modules/
platforms/
www/css/
plugins/
.idea
www/css/
nbproject
dist/
npm-debug.log
www/fonts/ionicons.*
.DS_Store
reports
www/lib

# Files overwritten with gulp
www/js/core/modules/config/config.constants.js
www/js/main.js
www/js/app.js
www/js/main/main.factory.js
config.xml
components
phonegap-build/phonegap-profiles/*
scss/partials/variables.scss
scss/se-leg.scss
www/js/core/modules/sender/sender.custom.process.data.factory.js
resources/android/**/*
resources/ios/**/*