/*
    Created on : 18-nov-2016, 12:33:22
    Author     : mavillalba
*/

/*button {
  height: 44px;
  width: 44px;
}

.button {
  min-width: 47px;
}

.button.seleg-button {
  color: #fff;
  background-color: #059ba8;
}

.text-button {
  width: auto;
  height: auto;
}*/

ion-content{
  background-color: #ececec;
}