/*
    Created on : 18-nov-2016, 12:33:22
    Author     : mavillalba
*/

body,
ion-header,
ion-content,
ion-footer-bar,
h1, h2, h3, h4, h5,
button {
  font-family: SourceSansProRegular, sans-serif !important;
}

ion-content{
  background-color: #ececec;
}