/*
 *    Created on : 19-jan-2017
 *   Author      : fjfernandez.
 */

//Set the application font
body,
ion-header-bar,
ion-content,
ion-footer-bar,
h1, h2, h3, h4, h5,
button {
  font-family: $main-app-font, sans-serif !important;
}

//Set the background color of the app
ion-content{
  background-color: $main-bg-color;
}

//Set the main logo
.seleg-logo{
  background-image: url($main-logo);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70px;
  margin-top: 15%;
}

//Extends for the another partials
%content-header {
  text-align: center;
  margin-bottom: 10%;
}

%content-title {
  font-size: $main-title-size;
  font-weight: bold;
  color: $main-title-color;
  margin-top: 10%;
  line-height: 28px;
}

%content-message{
  color: $main-title-color;
  font-size: $secondary-title-size;
  margin-top: 5%;
  line-height: 18px;
  padding: 0 5%;
}

//Buttons
.button.button-full {
  background-color: $send-button-bg;
  height: 60px;
  line-height: 60px;
  font-size: $button-font-size;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
}

.button[disabled] {
  background-color: transparent !important;
  opacity: 1 !important;
  border: solid 1px $icon-tick-disable !important;
  color: $send-button-disable-font !important;
}