/*
    Created on : 02-dic-2016, 10:20:08
    Author     : mavillalba
*/

.fingerprint-verification-ion-content{
  .fingerprint-verification-content-header {
    height: 80%;
    text-align: center;

    .fingerprint-verification-content-title {
      color: #023754;
      font-size: 28px;
      height: 31px;
      margin-top: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 25px 0 25px;
      font-weight: bold;
      line-height: 28px;
    }

    .fingerprint-verification-content-message{
      color: #023754;
      margin-top: 30px;
      font-size: 18px;
      height: 46px;
      padding: 0 40px 0 40px;
    }

  }

  .continue-button {
    height: 84px;
    padding: 0;
    margin: 0;
  }
}

