/*
 *    Created on : 19/01/2017
 *    Author     : fjfernandez
 */

//First Block (Titles)
.fingerprintVerification-content-header {
    @extend %content-header;

    .fingerprintVerification-content-title {
        @extend %content-title;
    }

    .fingerprintVerification-content-message{
        @extend %content-message;
    }
}

//Continue button
.place-continue-button {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;

    button{
        @media (max-width: $small-devices-width){
            font-size: 18px !important; //The word is not so long.
        }
    }
}