/*
    Created on : 18-nov-2016, 12:26:30
    Author     : mavillalba
*/

.identification-content-header {
  height: 40vh;
  text-align: center;

  .seleg-logo{
    width: 95px;
    margin-top: 20px;
  }

  .identification-content-title {
    color: black;
    font-size: 24px;
    height: 23px;
    margin-top: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 25px 0 25px;
    font-weight: bold;
  }

  .message-content-message{
    margin-top: 30px;
    font-size: 18px;
    padding: 0 32px 0 32px;
  }

}


.identification-content {
  label {
    background: #FFF;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 0;
    margin-right: 4vw;
  }

  item-input {
    padding-bottom: 0px;
  }

  input {
    padding-bottom: 0;
    padding-right: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: normal;
  }

  @include input-placeholder {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: normal;
  }

  .send-identification-form-container {
    height:  40vh;

    .form-col{
      width: 90%;
    }

    .style-not-disable{
      color: #22a7f0;
      font-size: 50px;
      padding-right: 5vw;
    }

    .style-disable{
      color: grey;
      font-size: 50px;
      padding-right: 5vw;
    }

    .message-form-container{
      padding-left: 57px;
      color: grey;
      font-size: 13px;
      text-transform: uppercase;
    }

  }

  .send-identification-button {
    height: 84px;
    padding: 0;
    margin: 0;

    button {
      background-color: #22a7f0;
      height: 55px;
      min-height: 55px;
      margin-right: 40px;
      margin-left: 40px;
      margin-top: 24.52px;
      text-transform: uppercase;
      font-size: 14.3px;
      letter-spacing: 1.19px;
      margin-bottom: 0;
      line-height: 55px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}


