/*
    Created on : 18-nov-2016, 12:26:30
    Author     : mavillalba
    Author     : fjfernandez
*/


//First Block (Titles)
.identification-content-header {
  text-align: center;
  margin-bottom: 10%;

  .identification-content-title {
    font-size: $main-title-size;
    font-weight: bold;
    color: $main-title-color;
    margin-top: 10%;
    line-height: 28px
  }

  .message-content-message{
    color: $main-title-color;
    font-size: $secondary-title-size;
    margin-top: 5%;
    line-height: 18px;
  }
}

//Second Block (Form)
.input-message-title{
  padding-left: 10%;
  color: $imput-label-color;
  font-size: $input-message-size;
  text-transform: uppercase;
}

//Group nesting
.place-input-label-button{
  width: 100%;
  padding: 0 10%;

  //Input and label
  .place-label-and-input{
    width: 80%;
    display: inline-block;

    input{
      border-radius: 2px;
      font-size: 15px;
      color: $input-font-color;
      font-weight: normal;
    }
  }

  //Icon
  .place-tick-icon{
    width: 18%;
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
    text-align: right;

    .tick-enable{
      color: $icon-tick-enable;
    }

    .tick-disable{
      color: $icon-tick-disable;
    }
  }
}

//Mixing used for the place holder
@include input-placeholder {
  font-size: 15px;
  color: $input-font-color;
  font-weight: normal;
}

//Send button
.place-send-identification-button {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;
}





















//.identification-content {
//
//
//  //input {
//  //  padding-bottom: 0;
//  //  padding-right: 0;
//  //  font-size: 15px;
//  //  color: rgba(0, 0, 0, 0.55);
//  //  font-weight: normal;
//  //  border-radius: 2px;
//  //}
//
//  @include input-placeholder {
//    font-size: 15px;
//    color: rgba(0, 0, 0, 0.55);
//    font-weight: normal;
//  }

  //.send-identification-form-container {
  //  margin-bottom: 144px;
  //
  //  .form-col{
  //    width: 90%;
  //  }
  //
  //  .style-not-disable{
  //    color: #22a7f0;
  //    font-size: 50px;
  //    padding-right: 33px;
  //  }
  //
  //  .style-disable{
  //    color: #b0bec5;
  //    font-size: 50px;
  //    padding-right: 33px;
  //  }

    //.message-form-container{
    //  padding-left: 35px;
    //  color: #78909c;
    //  font-size: 13px;
    //  text-transform: uppercase;
    //}

  //}
//}


