// SE-LEG theme styles

//Colors
$main-bg-color: #ececec;
$main-title-color: #023754;
$imput-label-color: #78909c;
$input-font-color: rgba(0, 0, 0, 0.55);
$icon-tick-enable: #22a7f0;
$icon-tick-disable: #b0bec5;
$send-button-bg: #22a7f0;
$send-button-disable-font: #cfd8dc;
$se-leg-header-background: transparent;

//Images
$main-logo: "../img/simbolo-seleg@2x.png";

//Fonts
$main-app-font: SourceSansProRegular;
$main-title-size: 28px;
$secondary-title-size: 18px;
$input-message-size: 13px;
$button-font-size: 18px;

//Devices
$small-devices-width: 500px;
