<ion-view view-title="Identification">
  <ion-content overflow-scroll="false" scroll="false">

    <!-- identification content head -->
    <div class="identification-content-header">
      <div class="seleg-logo"></div>
      <div class="text-center identification-content-title">{{'identification.title'| translate}}</div>
      <div class="text-center message-content-message">{{'identification.subtitle'| translate}}</div>
    </div>

    <!--Identification form-->
    <form ng-submit="identificationCtrl.send()">

      <!--Input message-->
      <div class="text-left input-message-title">{{'identification.message'| translate}}</div>

      <!--Label && Input nesting-->
      <div class="place-input-label-button">

        <!-- Group 1 Input -->
        <div class="place-label-and-input">
          <label class="item item-input">
            <input id="new-col-input" type="number" ng-model="identificationCtrl.nationaIdNumber" autocomplete="off"
                   autocorrect="off" autocapitalize="off" spellcheck="false"
                   placeholder="{{'identification.placeholder'| translate}}" focus-me />
          </label>
          <input type="text" id="invalid-button-hidden" style="display:none" />
        </div>

        <!--Group 2 Icon-->
        <div class="place-tick-icon">
          <i class="icon ion-ios-checkmark-outline" ng-class="!identificationCtrl.correctFormat() ? 'tick-disable' : 'tick-enable'"></i>
        </div>

      </div>

      <!-- Submit button -->
      <div class="place-send-identification-button">
        <button class="button button-full seleg-button" type="submit" translate="identification.send" ng-disabled="!identificationCtrl.correctFormat() || !identificationCtrl.hasInternetConnection()"></button>
      </div>

    </form>











    <!--&lt;!&ndash;Identification content&ndash;&gt;-->
    <!--<div class="identification-content">-->
      <!--<form ng-submit="identificationCtrl.send()">-->
        <!--<div class="send-identification-form-container">-->
          <!--<div class="text-left message-form-container">{{'identification.message'| translate}}</div>-->
          <!--<div class="row">-->
            <!--<div class="col form-col">-->
              <!--<label class="item item-input">-->
                <!--<input id="new-col-input" type="number" ng-model="identificationCtrl.nationaIdNumber" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{'identification.placeholder'| translate}}" focus-me />-->
              <!--</label>-->


              <!--<input type="text" id="invalid-button-hidden" style="display:none" />-->
            <!--</div>-->
            <!--<div>-->
              <!--<i class="icon ion-ios-checkmark-outline" ng-class="!identificationCtrl.correctFormat() ? 'style-disable' : 'style-not-disable'"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row send-identification-button">-->
          <!--<button class="button button-full seleg-button" type="submit" translate="identification.send" ng-disabled="!identificationCtrl.correctFormat() || !identificationCtrl.hasInternetConnection()"></button>-->

        <!--</div>-->
      <!--</form>-->
    <!--</div>-->

  </ion-content>
</ion-view>