<ion-view view-title="FingerprintVerification">
  <ion-content class="fingerprint-verification-ion-content">

    <!-- Fingerprint Verification content head -->
    <div class="fingerprint-verification-content-header">
      <div class="col">
        <img class="seleg-logo" src="img/simbolo-seleg@2x.png"/>
        <div class="text-center fingerprint-verification-content-title">{{fingerprintVerificationCtrl.title| translate}}</div>
        <div class="text-center fingerprint-verification-content-message">{{fingerprintVerificationCtrl.msg|translate}}</div>
      </div>
    </div>

    <div class="row continue-button">
      <button class="button button-full seleg-button" translate="fingerprintVerification.continue" ng-click="fingerprintVerificationCtrl.fingerprintVerification()"></button>
    </div>

  </ion-content>
</ion-view>

